[LightUI]
# Main Window Position X
MainWindowOffsetX=206
# Main Window Position Y
MainWindowOffsetY=20
# Font
Font=Koruri
# Font Locale to display
#FontLocale=zh_CN.UTF-8
# Use System Tray Icon
# Available Value:
# True False
#UseTray=True
# Main Window Hide Mode
# Available Value:
# Show
# Auto
# Hide
MainWindowHideMode=Hide
# Vertical Candidate Word List
# Available Value:
# True False
#VerticalList=False
# Font Size
FontSize=10
# Background Color
BackgroundColor=49 46 57
# Border Color
BorderColor=120 61 87
# Tip Message Color
TipColor=97 87 114
# Input Message Color
InputColor=135 64 78
# Candidate Index Color
IndexColor=174 131 90
# First Candidate Color
FirstCandColor=135 64 78
# User Phrase Color
#UserPhraseColor=0 99 200
# Table Code Color
CodeColor=135 64 78
# Other Color
OtherColor=192 167 154
# Active Menu Item Character Color
ActiveMenuColor=192 167 154
# Inactive Menu Item Character Color
#InactiveMenuColor=0 99 200
# Active Menu Color
#ActiveColor=197 200 191
# Space Line Color
#LineColor=197 200 191
# Cursor Color
#CursorColor=40 40 240

